<div id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">ChatBuckets</h1>
    <div class="row center">
      <h5 class="header col s12 light">Sign up to start learning languages today</h5>
    </div>
    <div class="row center">
      <%= link_to "Sign Up", new_user_registration_path, id: "download-button", class: "btn-large waves-effect waves-light orange" %></li>
    </div>
    <br><br>
  </div>
</div>

<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
      <h5 class="center">Stay Organized</h5>

      <p class="light">Keep the phrases and words you learn organized and in an easy to find place.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
      <h5 class="center">Get Feedback</h5>

      <p class="light">By connecting to native speakers, you can get corrections that will help you understand how to speak your target language better.</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
      <h5 class="center">Never forget</h5>

      <p class="light">Never forget something you learned again. Store what you learn so you can refer to it later and keep sharp.</p>
    </div>
  </div>
</div>

<br><br>
