<h1>Discover Users</h1>

<% @users.each do |user| %>
  <%= link_to(user) do %>
    <div class="chip">
      <%= image_tag user.image.url(:thumb), class: "circle" %>
      <%= user.username %>
    </div><br>
  <% end %>
<% end %>
